@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{

}

<div>
    <h5>Cart Component</h5>
    @foreach (var item in Model)
    {
        <p>@item.Name</p>
        <p>@item.Value</p>
        <p>@item.Quantity</p>
        
    }
    <a asp-page="/Checkout/Payment" class="button is-black is-rounded">Checkout</a>
</div>

