@page
@model Shop.UI.Pages.Checkout.CustomerInformationModel
@{
}

    <div class="container">
        <form method="post">
            <div class="mb">
                <p class="mbSmall has-text-weight-bold has-text-grey-light is-size-7">First Name</p>
                <span asp-validation-for="CustomerInformation.FirstName"></span>
                <input class="input" asp-for="CustomerInformation.FirstName" />
            </div>

            <div class="mb">
                <p class="mbSmall has-text-weight-bold has-text-grey-light is-size-7">Last Name</p>
                <span asp-validation-for="CustomerInformation.LastName"></span>
                <input class="input" asp-for="CustomerInformation.LastName" />
            </div>

            <div class="mb">
                <p class="mbSmall has-text-weight-bold has-text-grey-light is-size-7">Phone Number</p>
                <span asp-validation-for="CustomerInformation.PhoneNumber"></span>
                <input class="input" asp-for="CustomerInformation.PhoneNumber" />
            </div>

            <div class="mb">
                <p class="mbSmall has-text-weight-bold has-text-grey-light is-size-7">Email</p>
                <span asp-validation-for="CustomerInformation.Email"></span>
                <input class="input" asp-for="CustomerInformation.Email" />
            </div>

            <div class="mb">
                <p class="mbSmall has-text-weight-bold has-text-grey-light is-size-7">Address 1</p>
                <span asp-validation-for="CustomerInformation.Address1"></span>
                <input class="input" asp-for="CustomerInformation.Address1" />
            </div>

            <div class="mb">
                <p class="mbSmall has-text-weight-bold has-text-grey-light is-size-7">Address 2</p>
                <span asp-validation-for="CustomerInformation.Address2"></span>
                <input class="input" asp-for="CustomerInformation.Address2" />
            </div>

            <div class="mb">
                <p class="mbSmall has-text-weight-bold has-text-grey-light is-size-7">City</p>
                <span asp-validation-for="CustomerInformation.City"></span>
                <input class="input" asp-for="CustomerInformation.City" />
            </div>

            <div class="mb">
                <p class="mbSmall has-text-weight-bold has-text-grey-light is-size-7">Postal Code</p>
                <span asp-validation-for="CustomerInformation.PostCode"></span>
                <input class="input" asp-for="CustomerInformation.PostCode" />
            </div>
            <button class="button is-black is-rounded" type="submit">Checout</button>
        </form>
    </div>
